<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18E226</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>WeChatExtension</string>
	<key>CFBundleIdentifier</key>
	<string>MustangYM.WeChatExtension</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>WeChatExtension</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.8.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>10B61</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>18B71</string>
	<key>DTSDKName</key>
	<string>macosx10.14</string>
	<key>DTXcode</key>
	<string>1010</string>
	<key>DTXcodeBuild</key>
	<string>10B61</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017年 tk. All rights reserved.</string>
	<key>showUpdateWindow</key>
	<true/>
	<key>versionInfo</key>
	<string>v1.7.5(2019-01-13):\n👉🏻  适配微信 Version. 2.3.22\n👉🏼  菜单栏新增是否允许微信启动时检测更新(非AppStore版本)\n👉🏽  优化 XML 解析\n\n\n\nv1.7.3 (2018-10-22)：\n👉🏻  适配微信 Version. 2.3.19\n👉🏼  修复安全漏洞(请务必更新，若有安装QQ插件也需要更新)\n👉🏽  菜单栏-关于小助手-新增 alfred 开关(若不使用 aflred 可关闭)  \n\nv1.7.1 (2018-07-24)：\n👉🏻  适配微信 Version. 2.3.17\n👉🏼  新增 alfred 搜索最近聊天列表\n👉🏽  新增 alfred 查看用户聊天记录\n     (需更新wechat-alfred-workflow)\n\nv1.7 (2018-05-12)：\n👉🏻  新增不同账户设置不同的自动回复&amp;远程控制\n👉🏼  自动回复新增总开关&amp;指定联系人\n👉🏽  远程控制新增控制小助手配置\n👉🏾  新增一键已读\n👉  新增一键清除空回话\n👉🏻  新增国际化(支持英、简、繁)\n👉🏼  新增关于小助手\n👉🏽  新增在线更新小助手  \n👉🏾  去除微信url转链处理(从此直接打开抖音链接🌝 \n👉🏿  修复无法免认证登录&amp;多开等bug \n</string>
</dict>
</plist>
