<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>2.6.8</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019年 WeChatExtension. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string></string>
	<key>showUpdateWindow</key>
	<true/>
	<key>versionInfo</key>
	<string>v2.6.8(2020-09-20):\n👉🏻  系统低于macOS10.14不再支持皮肤 \n👉🏻  修复2.4.2 (15650)选取联系人Crash \n👉🏻 优化UI细节 \n</string>
</dict>
</plist>
