<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.3</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019年 WeChatExtension. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string></string>
	<key>showUpdateWindow</key>
	<true/>
	<key>versionInfo</key>
	<string>v1.9.6(2019-08-07):\n👉🏻  屏蔽更新\n👉🏻 修复2.3.26疯狂闪退 \n\n\nv1.9.2(2019-06-28):\n👉🏻  群聊撤回显示真实联系人, 修复消息筛选Bug\n👉🏻  修复会话多选以及公众号信息点击闪退\n👉🏻  用系统浏览器打开网页\n👉🏻  将拦截到的撤回消息同步到手机端\n👉🏼 支持一键更新 \n\n\nv1.8.0(2019-01-13):\n👉🏻  适配微信 Version. 2.3.24\n👉🏼  适配多开, 置底闪退, 置顶闪退等各种闪退\n\n\nv1.7.3 (2018-10-22)：\n👉🏻  适配微信 Version. 2.3.19\n👉🏼  修复安全漏洞(请务必更新，若有安装QQ插件也需要更新)\n👉🏽  菜单栏-关于小助手-新增 alfred 开关(若不使用 aflred 可关闭)  \n\nv1.7.1 (2018-07-24)：\n👉🏻  适配微信 Version. 2.3.17\n👉🏼  新增 alfred 搜索最近聊天列表\n👉🏽  新增 alfred 查看用户聊天记录\n     (需更新wechat-alfred-workflow)\n\nv1.7 (2018-05-12)：\n👉🏻  新增不同账户设置不同的自动回复&amp;远程控制\n👉🏼  自动回复新增总开关&amp;指定联系人\n👉🏽  远程控制新增控制小助手配置\n👉🏾  新增一键已读\n👉  新增一键清除空回话\n👉🏻  新增国际化(支持英、简、繁)\n👉🏼  新增关于小助手\n👉🏽  新增在线更新小助手  \n👉🏾  去除微信url转链处理(从此直接打开抖音链接🌝 \n👉🏿  修复无法免认证登录&amp;多开等bug \n</string>
</dict>
</plist>
