<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>executeCommand</key>
			<string>open /System/Library/Frameworks/ScreenSaver.framework/Versions/A/Resources/ScreenSaverEngine.app || open /System/Library/CoreServices/ScreenSaverEngine.app </string>
			<key>keyword</key>
			<string>ScreenSave</string>
			<key>function</key>
			<string>Assistant.Directive.ScreenSave</string>
			<key>enable</key>
			<true/>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>executeCommand</key>
			<string>/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend</string>
			<key>keyword</key>
			<string>LockScreen</string>
			<key>function</key>
			<string>Assistant.Directive.LockScreen</string>
			<key>enable</key>
			<true/>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>executeCommand</key>
			<string>sleep</string>
			<key>keyword</key>
			<string>Sleep</string>
			<key>function</key>
			<string>Assistant.Directive.Sleep</string>
			<key>enable</key>
			<true/>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>executeCommand</key>
			<string>shutdown</string>
			<key>keyword</key>
			<string>Shutdown</string>
			<key>function</key>
			<string>Assistant.Directive.Shutdown</string>
			<key>enable</key>
			<true/>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>executeCommand</key>
			<string>restart</string>
			<key>keyword</key>
			<string>Restart</string>
			<key>function</key>
			<string>Assistant.Directive.Restart</string>
			<key>enable</key>
			<true/>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>executeCommand</key>
			<string>empty</string>
			<key>keyword</key>
			<string>EmptyTrash</string>
			<key>function</key>
			<string>Assistant.Directive.EmptyTrash</string>
			<key>enable</key>
			<true/>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>executeCommand</key>
			<string>mute</string>
			<key>keyword</key>
			<string>Mute</string>
			<key>function</key>
			<string>Assistant.Directive.Mute</string>
			<key>enable</key>
			<true/>
			<key>type</key>
			<integer>2</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>executeCommand</key>
			<string>killQQ</string>
			<key>keyword</key>
			<string>KillQQ</string>
			<key>function</key>
			<string>Assistant.Directive.KillQQ</string>
			<key>enable</key>
			<true/>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>executeCommand</key>
			<string>killWeChat</string>
			<key>keyword</key>
			<string>killWeChat</string>
			<key>function</key>
			<string>Assistant.Directive.KillWeChat</string>
			<key>enable</key>
			<true/>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>executeCommand</key>
			<string>killChrome</string>
			<key>keyword</key>
			<string>KillChrome</string>
			<key>function</key>
			<string>Assistant.Directive.KillChrome</string>
			<key>enable</key>
			<true/>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>executeCommand</key>
			<string>killSafari</string>
			<key>keyword</key>
			<string>KillSafari</string>
			<key>function</key>
			<string>Assistant.Directive.KillSafari</string>
			<key>enable</key>
			<true/>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>executeCommand</key>
			<string>killFirefox</string>
			<key>keyword</key>
			<string>killFirefox</string>
			<key>function</key>
			<string>Assistant.Directive.KillFirefox</string>
			<key>enable</key>
			<true/>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>executeCommand</key>
			<string>killAll</string>
			<key>keyword</key>
			<string>KillAll</string>
			<key>function</key>
			<string>Assistant.Directive.KillAll</string>
			<key>enable</key>
			<true/>
			<key>type</key>
			<integer>2</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>executeCommand</key>
			<string>musicToggle</string>
			<key>keyword</key>
			<string>Toggle</string>
			<key>function</key>
			<string>Assistant.Directive.Toggle</string>
			<key>enable</key>
			<true/>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>executeCommand</key>
			<string>musicNext</string>
			<key>keyword</key>
			<string>Next</string>
			<key>function</key>
			<string>Assistant.Directive.Next</string>
			<key>enable</key>
			<true/>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>executeCommand</key>
			<string>musicPrevious</string>
			<key>keyword</key>
			<string>Previous</string>
			<key>function</key>
			<string>Assistant.Directive.Previous</string>
			<key>enable</key>
			<true/>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>executeCommand</key>
			<string>musicVolumeUp</string>
			<key>keyword</key>
			<string>VolumeUp</string>
			<key>function</key>
			<string>Assistant.Directive.VolumeUp</string>
			<key>enable</key>
			<true/>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>executeCommand</key>
			<string>musicVolumeDown</string>
			<key>keyword</key>
			<string>VolumeDown</string>
			<key>function</key>
			<string>Assistant.Directive.VolumeDown</string>
			<key>enable</key>
			<true/>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>executeCommand</key>
			<string>musicLike</string>
			<key>keyword</key>
			<string>LikeChange</string>
			<key>function</key>
			<string>Assistant.Directive.LikeChange</string>
			<key>enable</key>
			<true/>
			<key>type</key>
			<integer>2</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>executeCommand</key>
			<string>getDirectiveList</string>
			<key>keyword</key>
			<string>getDirective</string>
			<key>function</key>
			<string>Assistant.Directive.GetList</string>
			<key>enable</key>
			<true/>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>executeCommand</key>
			<string>PreventRevokeSwitch</string>
			<key>keyword</key>
			<string>PreventRevokeSwitch</string>
			<key>function</key>
			<string>Assistant.Directive.PreventRevokeSwitch</string>
			<key>enable</key>
			<true/>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>executeCommand</key>
			<string>AutoReplySwitch</string>
			<key>keyword</key>
			<string>AutoReplySwitch</string>
			<key>function</key>
			<string>Assistant.Directive.AutoReplySwitch</string>
			<key>enable</key>
			<true/>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>executeCommand</key>
			<string>AutoAuthSwitch</string>
			<key>keyword</key>
			<string>AutoAuthSwitch</string>
			<key>function</key>
			<string>Assistant.Directive.AutoAuthSwitch</string>
			<key>enable</key>
			<true/>
			<key>type</key>
			<integer>3</integer>
		</dict>
	</array>
</array>
</plist>
